.players-news-modal {
    box-shadow: 1px 1px 10px #18202f;
    min-width: 300px;
    min-height: 200px;
    background: #283245;
    overflow: auto;
    border-radius: 10px;
    color: #fff;
    min-width: 900px;
    max-width: 980px;
    max-height: 80vh;
    box-shadow: 1px 1px 15px #18202f;
    border-radius: 10px !important;
    background: #3a465b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.player-card {
    height: calc(80vh - 50px);
    //border: 2pt solid red
}

.player-card .details-panel {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    padding-bottom: 16px;
    background: #252d3d;
}

.player-card-header {
    height: 215px;
    -webkit-flex: 0 0 215px;
    -ms-flex: 0 0 215px;
    flex: 0 0 215px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.player-card-header .player-card-header-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.player-card-header .team-bg-image {
    position: absolute;
    width: 200px;
    left: 220px;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

.player-card-header .player-card-content-container {
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.player-card-header .player-image-container {
    height: 215px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.player-card-header .player-image-container .player-image {
    height: 206px;
}

.player-card-header .player-image-container .player-position-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.player-card-player-position {
    height: 40px;
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.6);
    width: 268px;
}

.player-card-player-position >.position {
    min-width: 46.5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Muli';
    font-weight: 800;
    padding-left: 5px;
    padding-right: 5px;
}

.player-card-player-position >.team {
    color: #fff;
    padding-left: 10px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 0.08px;
    padding-right: 20px;
    text-transform: uppercase;
}

.player-card-player-position >.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 20px;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
    position: absolute;
    right: -20px;
}

.player-card-header .player-info-container {
    flex-grow: 1;
    padding: 25px 26px;
    padding-left: 290px;
}

.player-card-header .player-info-container .player-name-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.player-card-header .player-info-container .player-name {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    font-family: 'Muli';
    line-height: 1.22;
}

.player-card-header .player-info-container .profile-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.player-card-header .player-info-container .profile-items-container .profile-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-card-header .player-info-container .profile-items-container .profile-item {
    text-align: center;
    height: 47px;
}

.player-card-header .player-info-container .profile-item-label {
    font-size: 14px;
    font-family: 'Muli';
    font-weight: 800;
    opacity: 0.5;
    letter-spacing: 1.4px;
    color: #fff;
    margin-bottom: 9px;
}

.player-card-header .player-info-container .profile-item-value {
    font-size: 24px;
    font-family: 'Muli';
    font-weight: 800;
    opacity: 0.8;
    color: #fff;
}

.player-card-header .player-info-container .profile-items-container .profile-item-divider {
    height: 36px;
    width: 1.5px;
    opacity: 0.5;
    background-color: #d8e2ed;
    margin: 0 12px;
}

.player-card-header .player-info-container .player-ranking-container {
    margin-top: 18px;
}

.player-card-header .player-info-container .profile-item-label {
    font-size: 14px;
    font-family: 'Muli';
    font-weight: 800;
    opacity: 0.5;
    letter-spacing: 1.4px;
    color: #fff;
    margin-bottom: 9px;
}

.player-card-header .player-info-container .player-ranking-container .player-ranking-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.player-card-header .player-info-container .player-ranking-container .player-ranking-row .rank-item {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-card-header .player-info-container .player-ranking-container .player-ranking-row .rank-item .rank-value {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Muli';
    color: #fff;
}

.player-card-header .player-info-container .player-ranking-container .player-ranking-row .rank-item .rank-label {
    font-size: 10px;
    font-weight: 800;
    font-family: 'Muli';
    color: #a3bbd3;
    letter-spacing: 1px;
    padding-left: 3px;
}

.player-ranking-container {
    height: 45px
}

.player-ranking-row {
    height: 22px
}

.player-card-header .injury-status {
    position: absolute;
    top: 18px;
    right: 0px;
    font-family: 'Muli';
    padding: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #f00;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: none;
}