<div id="home">
  <igx-nav-drawer id="navigation" style="color: blue;" #drawer [isOpen]="false">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true"> Pages </span>
        <span *ngFor="let page of pages" routerLink="{{ page.link }}" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active">
          <igx-icon fontSet="material">{{ page.icon }}</igx-icon>
          <span>{{ page.name }}</span>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main>
    <div class="header-container">
      <span igxButton="icon" igxToggleAction="navigation" igxButtonColor="white" (click)="drawer.toggle()">
        <igx-icon fontSet="material" color="#1da1f2">menu</igx-icon>
      </span>
      <span id="header">Fantasy Football Analysis Tool</span>
      <div id="welcome">
        <div></div>
      </div>
    </div>

    <div class="content">
      <div class="marg-bot-20">
        <router-outlet></router-outlet>
      </div>
      <div class="footer" class="no-mobile">
        <div class="footer-container">
          <span>© {{year}} - JDAB</span>
        </div>
      </div>
    </div>
  </main>

  <igx-snackbar #snackbar [actionText]="snackbarMsg" class="snackbar"></igx-snackbar>
</div>